@import'vars';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 710px;
    background-color: rgb(225, 255, 143);
    background-image: url(images/stars1.png), url(images/stars2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 230% 80%, 4% 10%;
}

.header {

    padding-top: 196px;

    &__title {
        display: flex;
        flex-wrap: wrap;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }

    &__tagline {
        margin-top: 24px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    &__button {
        display: block;
        margin-top: 48px;
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        transition: 1s;
    }

    &__button:hover {
        background-color: #ffff;
        color: rgb(32, 32, 39);
    }
}

.running-line {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    height: 90px;

}

.games {
    padding-top: 94px;
    background: rgb(32, 32, 39);
    background-image: url(images/bgr-stars-all-blck.png);
    background-repeat: no-repeat;
    background-position: -20% 10%;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }


    &__tagline {
        margin-top: 24px;
        margin-bottom: 72px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    &__cards {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__game-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10;
        border-radius: 30px;
        width: 378px;
        background-color: #fff;
        transition: 1s;
    }

    &__game-card:hover {
        transform: scale(1.1);
    }

    &__number {
        width: 107px;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        margin: 32px 32px 0px 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
    }

    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        margin: 16px 32px 36px 32px;
    }
}


.mini-games {
    padding-top: 46px;
    padding-bottom: 144px;
    background: rgb(32, 32, 39);
    background-image: url(images/stars-mini-box-games1.png), url(images/stars-mini-box-games2.png);
    background-position: 1340px 80px, 1249px 3366px;
    background-repeat: no-repeat;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-bottom: 56px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__game-card {
        // width: 1200px;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        background-color: #fff;
    }

    &__pic {
        height: 100%;
    }

    &__menu {
        margin: 48px;
        width: calc(600px - 96px);
    }

    &__name {
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 24px;
    }

    &__descr {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 36px;
        max-width: 410px;
    }

    &__button {
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        transition: 1s;
    }

    &__button:hover {
        background-color: #ffff;
        color: rgb(32, 32, 39);
    }
}

.footer {
    width: 1441px;
    height: 150px;
    background-color: rgb(189, 237, 53);

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 61px;
        padding-bottom: 16px;
    }
}


@import'mobile'